$background-color: #F1F2F4;
$max-width-page: 1440px; // Можно оставить как есть, если это максимальная ширина страницы
$font-family-main: 'Roboto', Arial, sans-serif;
$content-width: 757px; // Ширина контента

.body {
  background-color: $background-color;

  @media screen and (max-width: $content-width) {
    display: block;
  }
}

.page {
  min-height: 100vh;
  width: $content-width;
  max-width: $max-width-page;
  font-family: $font-family-main;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
