.body {
  background-color: #F1F2F4;
}
@media screen and (max-width: 757px) {
  .body {
    display: block;
  }
}

.page {
  min-height: 100vh;
  width: 757px;
  max-width: 1440px;
  font-family: "Roboto", Arial, sans-serif;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 768px) {
  .page {
    width: 100vw;
  }
}