.content {
  display: flex;
  justify-content: center;
  padding: 40px 0 0 0;
  margin: 0;
  width: 100%;

  @media screen and (max-width: 768px) {
    width: 100vw;
  }
}

.tables {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 757px;
  gap: 40px;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    padding: 0 12px;
  }
}