.table__container {
  max-height: 220.8px;
  overflow-y: auto;
}
.table__title {
  font-weight: 500;
  font-size: 20px;
  font-weight: 28px;
  letter-spacing: 0.02em;
  color: #353D4B;
}
.table__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.table__data {
  border-collapse: separate;
  border-spacing: 0;
  background-color: #fff;
  border: none;
  border-radius: 12px 12px 0 0;
}
.table__data thead {
  background-color: #fff;
}
.table__data thead th {
  margin: 0 0;
  padding: 20px 31.5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #000;
}
.table__data thead th:first-of-type {
  border-right: 1px solid #000;
  border-radius: 12px 0 0 0;
}
.table__data thead th:last-of-type {
  border-radius: 0 12px 0 0;
}
.table__data tbody td {
  border: 1px solid #000;
  border-top: none;
  padding: 5.6px;
  height: 20px;
  min-height: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
}
.table__data tbody td:first-of-type {
  border-left: none;
}
.table__data tbody td:last-of-type {
  border: none;
  border-bottom: 1px solid #000;
}
.table__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
}
.table__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 28px;
  height: 28px;
  background-position: center;
  background-size: 16px;
  border-radius: 6px;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background-color: #4587ED;
  background-repeat: no-repeat;
  margin: auto 0;
}
.table__button:hover {
  background-color: #3573D2;
  cursor: pointer;
}
.table__button:active {
  background-color: #225CB5;
}
.table__button:focus {
  background-color: #3573D2;
  outline: none;
}
.table__button:disabled {
  background-color: #ABC7F2;
}
.table__button-add {
  background-image: url(../../images/ButtonAdd.svg);
}
.table__button-delete {
  background-image: url(../../images/ButtonDelete.svg);
  background-size: 20px;
}